@import '../styles/common.scss';

.container {
    @include dialogOpen{
        margin-right:var(--app-scrollbar-width);
    }
}

.boxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $base-padding;
    align-items: start;
}

.boxes_columns {
    display: grid;
    grid-template-columns: 1fr;
    gap: $base-padding;
    align-items: start;
    min-width: 0;
}