@import '../styles/common.scss';

.container {
    border: 2px solid $box-border-color;
    background-color: $box-background-color;
    padding: 10px;
    position: relative;
    overflow: hidden;
}

.sortable {
    cursor: move;
}

.title {
    white-space: nowrap;
    font-size: 12px;
    font-family: $header-font-family;
    font-weight: $header-font-weight;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 9px;
}

.transcription{
    font-size: 13px;
}