.container {
    background-color: #fff;
    padding: 10px;
    position: relative;
    overflow: hidden;
}

.sortable {
    cursor: move;
}

.title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}