@import '../styles/common.scss';

.container {
    // aaa
}

.boxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $base-padding;
    align-items: start;
}

.boxes_columns {
    display: grid;
    grid-template-columns: 1fr;
    gap: $base-padding;
    align-items: start;
}