@import '../../styles/common.scss';

.container {
    border: 2px solid $box-border-color;
    background-color: $box-background-color;
}

.header {
    background-color: $box-border-color;
    color: #fff;
    padding: 0 12px;
    display: flex;
    min-height: 50px;
    align-items: center;
    justify-content: space-between;
}

.title {
    text-transform: uppercase;
}

.content {
    color: #fff;
}

.action {
    display: flex;
    gap: 10px;
}