@import "../../styles/common.scss";

@keyframes flash {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.2;
    }
}

.container {
    font-size: 10px;
    background-color: transparent;
    color: $text-color;
    background-color: $background-color;
    padding: 0.8em 1em;
    text-decoration: none;
    border: 2px solid $text-color;
    font-family: $header-font-family;
    font-weight: $header-font-weight;
    line-height: $header-line-height;
    cursor: pointer;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    text-align: left;
    transition: color 0.3s, background-color 0.3s;
    overflow: hidden;
    position: relative;
    border-radius: 0;

    &.disabled {
        opacity: 0.4;
        cursor: not-allowed;
    }

    &.loading {
        animation-name: flash;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        cursor: wait;
    }

    &:active {
        transform: translate(1px, 2px);
    }

    &:not(:disabled):hover {
        background-color: $text-color;
        color: $background-color;
    }

    svg {
        width: 16px;
        height: 16px;
        margin-bottom: 1px;
        margin-right: 8px;
    }
}

.flashing {
    :global {
        animation: flashing 1.5s infinite;
    }
}

.small {
    font-size: 8px;

    svg {
        width: 12px;
        height: 12px;
        margin-bottom: 1px;
        margin-right: 6px;
    }
}

.large {
    font-size: 15px;
    padding: 0.9em 1.3em;

    svg {
        width: 26px;
        height: 26px;
        margin-bottom: -1px;
        margin-right: 10px;
    }
}

.primary {
    color: $primary-color;
    border-color: $primary-color;

    &:not(:disabled):hover {
        background-color: $primary-color;
    }
}

.secondary {
    color: $secondary-color;
    border-color: $secondary-color;

    &:not(:disabled):hover {
        background-color: $secondary-color;
    }
}