@import '../../styles/common.scss';

.container {
    font-size: 13px;
    background-color: transparent;
    color: $text-color;
    padding: 0.8em 1em;
    text-decoration: none;
    border: 2px solid $text-color;
    font-family: $header-font-family;
    font-weight: $header-font-weight;
    line-height: $header-line-height;
    cursor: pointer;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    text-align: left;

    &[disabled] {
        opacity: 0.4;
    }

    svg {
        width: 22px;
        height: 22px;
        margin-right: 10px;
        flex-shrink: 0;
    }
}

.small {
    font-size: 10px;

    svg {
        width: 16px;
        height: 16px;
        margin-bottom: 1px;
        margin-right: 8px;
    }
}

.primary {
    color: $primary-color;
    border-color: $primary-color;
}

.secondary {
    color: $secondary-color;
    border-color: $secondary-color;
}