@import '../../styles/common.scss';

.container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    height: $appbar-height;
    align-items: center;
    padding: 0 $base-padding;
    border-bottom: 2px solid currentColor;
    background-color: $background-color;
    z-index: 1000;
}

.title {
    font-family: $header-font-family;
    font-weight: $header-font-weight;
    font-size: 27px;
    line-height: 1.1;
}

.contents {
    display: flex;
    gap: $base-padding;
}