@font-face {
    font-family: 'druk_text_wide';
    src: url('https://next.xx0x.cz/fonts/DrukTextWide-Heavy-Web.woff2') format('woff2'),
        url('https://next.xx0x.cz/fonts/DrukTextWide-Heavy-Web.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
}

@font-face {
    font-family: 'fk_grotesk_neue';
    src: url('https://next.xx0x.cz/fonts/FKGroteskNeue-Regular.woff2') format('woff2'),
        url('https://next.xx0x.cz/fonts/FKGroteskNeue-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
}