$font-family: 'fk_grotesk_neue', sans-serif;
$font-size: 16px;
$font-weight: normal;
$line-height: 1.5;

$header-font-family: 'druk_text_wide', sans-serif;
$header-font-weight: 800;
$header-line-height: 1.2;

$background-color:#000;
$text-color:#eee;


$primary-color:#00ffa6;
$secondary-color:#f50a64;

$box-border-color:#222;
$box-background-color:#111;

$appbar-height: 80px;

$base-padding: 15px;