@import './common';
@import './reset';
@import './fonts';
@import './scrollbars';
@import './keyframes';

html,
body {
    color: $text-color;
    background-color: $background-color;
    font-weight: $font-weight;
    line-height: $line-height;
    font-family: $font-family;
}

body {
    padding: $base-padding;
    padding-top: $appbar-height + $base-padding;
}

body.app-dialog-open {
    position: fixed;
    overflow: hidden;
    left: 0;
    right: 0;
    top: 0;
}